listen: 0.0.0.0:4222
http: 8222

cluster {
  listen: 0.0.0.0:5222
}

streaming: {
    cluster_id: "codefresh-argo"

    hb_interval: "2s"
    hb_fail_count: 1
    hb_timeout: "5s"

    store: "sql"

    cluster: {
        log_path: "/data/log"
        raft_logging: true
    }

    store_limits: {
        max_msgs: 0
        max_bytes: 0
        max_subs: 0
    }

    sql_options: {
        driver: "postgres"
    }
}
